.Fullpage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9697128851540616) 0%,
      rgba(187, 187, 187, 0.945) 100%
    );
  }

.fullCon{
    box-shadow: 0vw 1vw 3vw 3vw #00000029;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      circle,
      rgba(75, 75, 75, 0.363) 0%,
      rgba(73, 73, 73, 0.575) 100%
    );
}
.CardStyle {
  
    width: 27vw;
    height: auto;
    display: -webkit-inline-box;
    text-align-last: center;
    -webkit-box-pack: center;
    border: unset;
    box-shadow: 2px 2px #bcbcbcb0;
    border-radius: 1vw;
    background: linear-gradient(184deg, rgba(255, 255, 255, 0.623) 0%, rgba(213, 212, 212, 0.547) 100%);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .wd80{
    justify-content: center;
    align-items: center;
  }
  .wdspanInput{
    width: 7vw;
  }
  .wdspanInputRe{
    width: 8.5vw
  }
  .lineH{
    line-height: 6vw;
  }
  .fontSize{
    font-size: 1.2vw !important;
  }
  .ReButton{
    line-height: 2vw;
    float: right;
  }
  .bgRePass{
    box-shadow: 0vw 1vw 3vw 3vw #00000029;
    background: linear-gradient(342deg, rgba(196,198,199,1) 0%, rgba(115,156,164,0.9108893557422969) 51%, rgba(51,100,109,1) 100%);
  }

  .HfontRe{
    font-size: 1.4vw !important;
    font-weight: bold;
    color: #f9f9f9eb;
  }