<div class="Fullpage">
  <app-navbar></app-navbar>
  <div class="container fullCon">
    <div class="row center">
      <div class="CardStyle">
        <div class="row ">
          <form [formGroup]="infoRePassForm">
            <div class="col lineH">
              <b class="fontSize">กรอกข้อมูลเพื่อตรวจสอบ</b>
              <div class="input-group mb-3 ">
                <span class="input-group-text wdspanInput fontSize" id="basic-addon1">Username</span>
                <input type="text" class="form-control fontSize" placeholder="enter username"
                  formControlName="RP_username">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text wdspanInput fontSize" id="basic-addon1">E-mail</span>
                <input type="text" class="form-control fontSize" placeholder="enter e-mail" formControlName="RP_email">
              </div>
              <button type="button" class="btn btn-secondary fontSize" (click)="RePass()">ตรวจสอบข้อมูล</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="RePass" data-bs-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bgRePass">
      <div class="modal-header">
        <h1 class="modal-title fs-5 HfontRe" id="exampleModalLabel">เปลี่ยนรหัสผ่านใหม่</h1>
        <button type="button" class="btn-close btn-outline-light HfontRe" data-bs-dismiss="modal" (click)="Close_RePass()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="NewPassForm">
          <div class="col lineH">
            <div class="input-group mb-3 ">
              <span class="input-group-text wdspanInputRe fontSize" id="basic-addon1">รหัสผ่านใหม่</span>
              <input type="password" class="form-control fontSize" placeholder="new password"
                formControlName="New_password">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text wdspanInputRe fontSize" id="basic-addon1">ยืนยันรหัสผ่าน</span>
              <input type="password" class="form-control fontSize" placeholder="confirm password" formControlName="Con_password">
            </div>
            <div  *ngIf="inforole">
               <button type="button" class="btn btn-light fontSize ReButton" (click)="New_Pass(this.inforole.ID,this.inforole.Namerole)">เปลี่ยนรหัสผ่าน</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>