<div class="container text-left">
    <div class="row" style="justify-content: left">
        <div class="col-12" style="margin-top: 2.5vw">
            <p class="HText">ติดต่อเรา</p>
        </div>
        <div class="col-1" >
            <p class="InfoText">Tel.</p>
        </div>
        <div class="col-11" >
            <p class="InfoText">085xxxxxxxxxx</p>
        </div>
        <div class="col-1" >
            <p class="InfoText">E-mail</p>
        </div>
        <div class="col-11" >
            <p class="InfoText">WTS@g.koa.com</p>
        </div>
        <div class="col-1" >
            <p class="InfoText">Line</p>
        </div>
        <div class="col-11" >
            <p class="InfoText">@WTS666</p>
        </div>
    </div>
</div>
<div style="margin-bottom: 4vw;"></div>