<div class="container text-center sticky-top navbar-expand-lg" style="margin-top: -5vw;">
  <nav class="navbar sticky-top navbar-expand-lg BGNav" >
    <div class="container-fluid">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link active FontHNav" aria-current="page" href="home" *ngIf="infoAboutme"><i
              class="bi bi-person-circle "></i>&nbsp;{{this.infoAboutme.aboutme_name}}</a>
        </li>
      </ul>
      <div class="d-flex">
        <ul class="navbar-nav" *ngIf="true;hidden">
          <li class="nav-item">
            <a class="nav-link active FontNav" aria-current="page" href="login"><i
                class="bi bi-person-circle"></i>&nbsp;เข้าสู่ระบบ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active FontNav" aria-current="page" href="signup"><i
                class="bi bi-person-circle"></i>&nbsp;สมัครสมาชิก</a>
          </li>
        </ul>
        <!-- <ul class="navbar-nav" *ngIf="true,hidden">
          <div class="dropdown">
            <button class="dropbtn">'UserName'</button>
            <div class="dropdown-content">
            <a href="userinformation/userinfo/userinfoma">ข้อมูลผู้ใช้งาน</a>
            <a href="userinformation/userinfo/order">รายการสั่งซื้อสินค้า</a>
            <a href="userinformation/userinfo/waitingpay">รอชำระเงิน</a>
            <a href="userinformation/userinfo/productstatus">สถานะสินค้า</a>
            </div>
          </div>
        </ul> -->
      </div>
    </div>
  </nav>
</div>
