<!-- <div class="sidebar">
    <a href="admin/administrator/account">บัญชีหลังบ้าน</a>
    <a href="admin/administrator/aboutme">เกี่ยวกับเรา</a>
    <a href="admin/administrator/treetype">ประเภทต้นไม้</a>
    <a href="admin/administrator/treedetail">รายละเอียดต้นไม้</a>
    <a href="admin/administrator/order">ข้อมูลการสั่งซื้อ</a>
    <a  (click)="logout()">ออกจากระบบ</a>
  </div> -->
<!--   
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div> -->

<nav class="main-menu">
  <ul>
    <li>
      <a href="admin/administrator/account">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          บัญชีหลังบ้าน
        </span>
      </a>
    </li>
    <li>
      <a href="admin/administrator/aboutme">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          เกี่ยวกับเรา
        </span>
      </a>
    </li>
    <li>
      <a href="admin/administrator/treetype">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          ประเภทต้นไม้
        </span>
      </a>
    </li>
    <li>
      <a href="admin/administrator/treedetail">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          รายละเอียดต้นไม้
        </span>
      </a>
    </li>
    <li>
      <a href="admin/administrator/order">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
          ข้อมูลการสั่งซื้อ
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    
    <li>
      <a (click)="logout()">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text AdminLogout" >
          <div class="marAdminLog">ออกจากระบบ</div>
          <div class="AdminLog marAdminLog">({{this.UserN}})</div>
        </span>
      </a>
    </li>
  </ul>
</nav>